footer {
  background-color: white;
  &:before {
    content: "";
    display: block;
    background-color: #70707036;
    height: 1px;
    width: 84%;
    margin: 12% auto 0;
    @include sp {
      margin: 12%;
    }
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin: 6% 8%;
  @include sp {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }
}

.footer-set {
  @include sp {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}

.footer-name {
  color: #7070704d;
  font-size: 3.2rem;
  letter-spacing: 3.2px;
  display: inline-block;
  @include sp {
    font-size: 1.8rem;
    letter-spacing: 1.8px;
  }
}

.footer-icon {
  color: black;
  display: inline-block;
  font-size: larger;
}

.fa-twitter {
  margin-left: 25px;
  margin-right: 10px;
  @include sp {
    margin-left: 0;
  }
}

.footer-btn {
  font-size: 1.8rem;
  font-family: "Roboto Mono for Powerline";
  letter-spacing: 1.8px;
  color: $gray;
  background-color: white;
  padding: 10px 40px;
  border: 1px solid;
  @include sp {
    width: 50%;
    margin: 0 auto 12%;
  }
}
